<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <picture>
      <img sizes="(max-width: 1400px) 100vw, 1400px" srcset="
../../assets/images/grogu/grogu_eyscbp_c_scale,w_200.jpg 200w,
../../assets/images/grogu/grogu_eyscbp_c_scale,w_686.jpg 686w,
../../assets/images/grogu/grogu_eyscbp_c_scale,w_1001.jpg 1001w,
../../assets/images/grogu/grogu_eyscbp_c_scale,w_1248.jpg 1248w,
../../assets/images/grogu/grogu_eyscbp_c_scale,w_1400.jpg 1400w"
        src="../../assets/images/grogu/grogu_eyscbp_c_scale,w_1400.jpg" alt="">
    </picture>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="container">
      <h2>Sinopsis</h2>
      <p>
        Set after the fall of the Empire and before the appearance of the First Order, the series follows the
        footsteps
        of Mando, a bounty hunter belonging to the legendary tribe of the Mandalorians, a lone gunfighter who works
        in
        the far reaches of the galaxy, where there is no reach. the authority of the New Republic.
      </p>

      <h2>Awards</h2>
      <ul>
        <li>2020: Golden Globes: Nominated for Best TV Series - Drama</li>
        <li>2020: Emmy: Nominated for Outstanding Drama Series & Guest Actor (Esposito)</li>
        <li>2020: American Film Institute (AFI): Top 10 - Best TV Shows of the Year</li>
        <li>2020: Critics Choice Awards: Nominated for Best TV Series - Drama</li>
        <li>2020: Producers Guild of America (PGA): Nominated for Best TV Series - Drama</li>
        <li>2020: Writers Guild of America (WGA): Nominated for Best Writing Drama Series</li>
        <li>2020: Screen Actors Guild (SGA): Best Action Stuntmen (TV Series)</li>
        <li>2020: Satellite Awards: Nominated for Best TV Series / TV Movie - Genre</li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>

