<div class="flex">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <h2>Season one trailer</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <video controls>
        <source
          src="../../assets/videos/s1/STAR WARS _ THE MANDALORIAN Tráiler Español (2019) (1080p_30fps_H264-128kbit_AAC).webm"
          type="video/webm">
        <source
          src="../../assets/videos/s1/STAR WARS _ THE MANDALORIAN Tráiler Español (2019) (1080p_30fps_H264-128kbit_AAC).mp4"
          type="video/mp4">
      </video>
    </mat-grid-tile>
    <mat-grid-tile>
      <video controls>
        <source
          src="../../assets/videos/s2/The Mandalorian _ Temporada 2 Tráiler Oficial _ Disney+ (1080p_24fps_H264-128kbit_AAC).webm"
          type="video/webm">
        <source
          src="../../assets/videos/s2/The Mandalorian _ Temporada 2 Tráiler Oficial _ Disney+ (1080p_24fps_H264-128kbit_AAC).mp4"
          type="video/mp4">
      </video>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Season two trailer</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Season three trailer</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <video controls>
        <source
          src="../../assets/videos/s3/The Mandalorian _ Temporada 3 Tráiler Oficial _ Disney+ (1080p_24fps_VP9-160kbit_Opus).webm"
          type="video/webm">
        <source
          src="../../assets/videos/s3/The Mandalorian _ Temporada 3 Tráiler Oficial _ Disney+ (1080p_24fps_H264-128kbit_AAC).mp4"
          type="video/mp4">
      </video>
    </mat-grid-tile>
  </mat-grid-list>
</div>
